:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-font-family: "Poppins", sans-serif;
  --header-font-family: "Playfair Display", serif;
  --default-text-color: #272142;
}

body {
  font-family: var(--default-font-family);
  color: var(--default-text-color);
}
h1,
h2 {
  font-family: var(--header-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  color: black;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
}
nav {
  padding: 10px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--default-text-color);
  font-weight: 500;
  transition: all 100ms ease-in-out;
}
nav a.logo {
  font-size: 36px;
  border: 3px solid var(--default-text-color);
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
nav a.logo:hover {
  font-size: 36px;
  border: 3px solid var(--default-text-color);
  color: var(--default-text-color);
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

img {
  background: var(--secondary-color);
  border-radius: 10px;
}
img.diy {
  padding: 100px 50px;
}
img.weather {
  padding: 131px 50px;
}

.content-container {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  margin: 20px 40px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding-bottom: 80px;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  color: var(--default-text-color);
}
.header-weight-normal {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

.font-18 {
  font-size: 18px;
  line-height: 1.5;
}
.font-48 {
  font-size: 48px;
}
.btn-main {
  background: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 4px;
  color: white;
}

.btn-main:hover {
  color: var(--default-text-color);
  background: var(--primary-color);
}
.btn-secondary {
  background: white;
  color: var(--primary-color);
  font-weight: 500;
  padding: 18px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 16px;
}

.btn-secondary:hover {
  background: var(--primary-color);
  color: var(--default-text-color);
}

.project-description {
  padding: 80px 40px;
}
.my-photo {
  margin: 0 auto;
  width: 80%;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}
footer .contact-block {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}
footer .contact-block p {
  margin: 0;
}
@media (max-width: 900px) {
  h1,
  .hero h1,
  h2 {
    font-size: 44px;
  }

  .content-container {
    text-align: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .header-weight-normal {
    font-size: 18px;
  }
}
